services:
  # PostgreSQL - bản mới nhất
  postgres:
    image: postgres:17-alpine
    container_name: postgres_careermate
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-MyPostgresDB}
      POSTGRES_USER: ${POSTGRES_USER:-root}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-123456}
      TZ: "Asia/Ho_Chi_Minh"
    ports:
      - "5439:5432"   # dùng 5439 để tránh xung đột
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # Redis cache
  redis:
    image: redis:7.2-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: [ "redis-server", "--appendonly", "yes" ]

  # Weaviate vector database
  weaviate:
    image: cr.weaviate.io/semitechnologies/weaviate:1.33.0
    container_name: weaviate
    restart: on-failure:0
    depends_on:
      - redis
    command:
      - --host
      - 0.0.0.0
      - --port
      - '8080'
      - --scheme
      - http
    ports:
      - "8081:8080"
      - "50051:50051"
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      ENABLE_API_BASED_MODULES: 'true'
      CLUSTER_HOSTNAME: 'node1'
    volumes:
      - weaviate_data:/var/lib/weaviate

  # Ứng dụng chính (careermate)
  careermate:
    image: chinh3571113/careermate:1.0.1
    container_name: careermate
    depends_on:
      - postgres
      - weaviate
      - redis
    env_file:
      - .env
    ports:
      - "8080:8080"
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
  weaviate_data:
